BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true

SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
SpacesInParens: Never
SpacesInSquareBrackets: false

Cpp11BracedListStyle: true
Standard: Latest

DerivePointerAlignment: false
PointerAlignment: Left

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignEscapedNewlines: Left
AlignArrayOfStructures: None
